.head{
    display: flex;
    background-color:rgb(204, 200, 167);
    justify-content: space-between
}

.nav-bar{
    display: flex;
    align-items: center;
}

.premium{
    margin: 5px;
    color:bisque
}

.grande{
    justify-content:center
}

.superficie{

    display: block;
    border-radius:5px;
    background-color:#fff;
    border: 10px solid #c1c1c1;
    height:300px;
    bottom:200px;
    width:300px; 
    margin-bottom: 16px;

  }

  .add1{
    color: rgb(10, 10, 10);
    font-size:30px;
    vertical-align: inherit;
  }

  .add2{
    color: rgb(10, 10, 10);
    font-size:20px;
    vertical-align: inherit;
  }

  .resultado1{
      
      font-size:10px;
      border-radius:5px;
    border: 100px solid #c1c1c1;
  }

/* //_________________________________________________________________________ */

  .grande2{
    justify-content:center
}

.suma_producto{
    display: block;
    border-radius:5px;
    background-color:#fff;
    border: 10px solid #c1c1c1;
    height:350px;
    bottom:50px;
    width:300px; 
    margin-bottom: 20px;
  }

  .add3{
    color: rgb(10, 10, 10);
    font-size:30px;
    vertical-align: inherit;
  }

  .add4{
    color: rgb(10, 10, 10);
    font-size:20px;
    vertical-align: inherit;
  }

  .resultado2{
      font-size:10px;
      border-radius:5px;
    border: 100px solid #c1c1c1;
  }

  .resultado3{
    font-size:10px;
    border-radius:5px;
  border: 100px solid #c1c1c1;
}

  /* //_________________________________________________________________________ */

  .grande3{
    justify-content:center
}

.total{
    display: block;
    border-radius:5px;
    background-color:#fff;
    border: 10px solid #c1c1c1;
    height:400px;
    bottom:50px;
    width:300px; 
    margin-bottom: 20px;
  }

  .add5{
    color: rgb(10, 10, 10);
    font-size:30px;
    vertical-align: inherit;
  }

  .add6{
    color: rgb(10, 10, 10);
    font-size:20px;
    vertical-align: inherit;
  }

  .resultado4{
      font-size:10px;
      border-radius:5px;
    border: 100px solid #c1c1c1;
  }

  /* //_________________________________________________________________________ */

  .grande4{
    justify-content:center
}

.promedio{
    display: block;
    border-radius:5px;
    background-color:#fff;
    border: 10px solid #c1c1c1;
    height:500px;
    bottom:50px;
    width:300px; 
    margin-bottom: 20px;
  }

  .add7{
    color: rgb(10, 10, 10);
    font-size:30px;
    vertical-align: inherit;
  }

  .add8{
    color: rgb(10, 10, 10);
    font-size:20px;
    vertical-align: inherit;
  }

  .resultado5{
      font-size:10px;
      border-radius:5px;
    border: 100px solid #c1c1c1;
  }

  .resultado6{
    font-size:10px;
    border-radius:5px;
  border: 100px solid #c1c1c1;
}